<html>
	<head>
		<title>Nanda's blog</title>
	</head>

	<body>
		<p>Hi there!</p>
		<p>It works!</p>

		<div>
			<h1><a href="https://djangogirls.org"">Django Girls Blog</a></h1>
		<div>

		<div>
			<p>published: Sab 28 de Oct 20147, 16:00</p>
			<h2><a href="https://tutorial.djangogirls.org/es/">Tutorial de Django Girls</a></h2>
			<p>Da click en el título y tendras un tutorial completo de como crear una página web, gracias a Djangosgirls</p>
			<p>published: Sab 28 de Oct 20147, 16:00</p>
		
	</body>
</html>
